<h3 class="text-left">Cadastrar uma Reserva no Sistema</h3>
<hr />
<form id="formReserva" [formGroup]="formReserva">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="nome">Nome completo:</label>
          <input id="nome" formControlName="nome" type="text" />
          <div *ngIf="f.nome.touched && f.nome.invalid">
            <small class="text-danger" *ngIf="f.nome?.touched && f.nome?.invalid">
                Nome é obrigatório !
            </small>
        </div>
        </div>
        <div class="form-group">
          <label>Telefone:</label>
          <input formControlName="telefone" type="tel" />
        </div>
        <div class="form-group">
          <label>Email:</label>
          <input formControlName="email" type="email" />
        </div>
        <div class="form-group">
          <label>CPF:</label>
          <input formControlName="cpf" type="number" mask />
        </div>
        <div class="form-group">
          <label>Endereço:</label>
          <input formControlName="endereco" type="text" />
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label>Tipo de evento:</label>
          <select formControlName="tpEvento">
            <option *ngFor="let event of listaTpEventos">
              {{ event.label }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Data Entrada:</label>
          <input formControlName="dataInicio" type="date" />
        </div>
        <div class="form-group">
          <label>Data Saída:</label>
          <input formControlName="dataFim" type="date" />
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label>Situação:</label>
          <div class="form-radio">
            <input type="radio" value="0" formControlName="situacao" />
            <span>Pagou metade</span>
          </div>
          <div class="form-radio">
            <input type="radio" value="1" formControlName="situacao" />
            <span>Pago</span>
          </div>
        </div>
        <div class="form-group">
          <label>Nº de Convidados:</label>
          <div class="form-radio">
            <input type="radio" value="30" formControlName="numConvidados" />
            <span>30</span>
          </div>
          <div class="form-radio">
            <input type="radio" value="50" formControlName="numConvidados" />
            <span>50</span>
          </div>
          <div class="form-radio">
            <input type="radio" value="80" formControlName="numConvidados" />
            <span>80</span>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mt-3">
        <button class="btn bt-form success" type="button" (click)="reservar()">
          Reservar
        </button>
        <button class="btn bt-form cancel" type="button" (click)="cancel()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</form>
