.container-home {
  height: 600px;

  &__market {
    display: flex;
    justify-content: space-around;
    padding: 20px 10px;
    color: #28464B;
    h3 {
      font-size: 45px;
    }
    p {
      font-size: 15px;
    }

    div {
      margin-top: 110px;
    }

    &__text-market {

      hr {
        color: #931621 !important;
        margin: 0px 180px 10px 0px !important;
      }
    }

    &__btn {

      img {
        width: 40px !important;
        height: 30px !important;
        border: none !important;
        box-shadow: none !important;
        margin-right: 5px !important;
        object-fit: contain !important;
      }
    }

  }

  h3, h4 {
    font-family: ChacFont;
    color: #931621;
  }

  &__list {
    margin: 180px 30px 25px 30px;
    overflow-x: scroll;
    justify-content: space-around;
    padding: 0px 4px 100px 5px;


    &::-webkit-scrollbar {
      width: 6px !important;
      height: 5px;
    }
  }

  hr {
    color: #28464B;
    border: 1px solid;
    margin: 30px 70px;
  }

  
  &__info {
    background-image: linear-gradient(to top, #fff , #3D95A1);
    width: 100%;
    padding: 25px 50px;

    &__social {
      text-align: right;
      margin-right: 16%;

      img {
        width: 50px !important;
        height: 50px !important;
        cursor: pointer;
        margin-right: 15px;

        &:hover {
          opacity: 0.5;
          transition: 0.5s;
        }
      }
    }
  }

  &__image {

    img {
      width: 440px;
      height: 440px;
      border: 2px solid #dbdbdb;
      border-radius: 100%;
      box-shadow: 0px 0px 13px 4px #dbdbdb;
      object-fit: cover;
      
      &:hover {
        opacity: 1;
        transition: 0.5s;
      }
    }
  }
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
  border: 3px solid transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff6060;
  margin-top: 5px;
  border: 3px solid transparent;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

@media screen and (max-width: 480px) {
  .container-home {
    height: 325px;
    &__market {
      display: block;

      &__btn {
        text-align: center;
        margin-top: 0px;
      }

      h3 {
        margin: -130px 0 0 35px;
      }
      p {
        font-size: 20px;
      }
      div {
        padding-top: 45px;
      }
    }
    img {
      width: 140px;
      height: 140px;
    }
    &__list {
      flex-direction: column;
      margin: 49px 0 0 75px;
    }
  }
}
