.container-home {
  height: 600px;

  &__market {
    display: flex;
    justify-content: space-around;
    padding: 20px 10px;
    color: #467599;
    h3 {
      font-size: 45px;
    }
    p {
      font-size: 15px;
    }

    div {
      padding-top: 110px;
    }

    &__text-market {

      hr {
        color: #D64045 !important;
        margin: 0px 180px 10px 0px !important;
      }
    }

    &__btn {
      margin-top: -90px;
    }

  }

  h3, h4 {
    font-family: ChacFont;
    color: #D64045;
  }

  &__list {
    margin: 180px 30px 25px 30px;
    overflow-x: scroll;
    justify-content: space-around;
    padding: 0px 4px 100px 5px;


    &::-webkit-scrollbar {
      width: 6px !important;
      height: 5px;
    }
  }

  hr {
    color: #1D3354;
    border: 1px solid;
    margin: 70px 70px 0px 70px;
  }

  
  &__info {
    width: 100%;
    padding: 80px 50px;
  }

  img {
    width: 440px;
    height: 440px;
    border: 2px solid #1D3354;
    border-radius: 100%;
    box-shadow: -2px 0px 16px 0px #1d3354;
    object-fit: cover;

    &:hover {
      opacity: 1;
      transition: 0.5s;
    }
  }
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
  border: 3px solid transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff6060;
  margin-top: 5px;
  border: 3px solid transparent;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

@media screen and (max-width: 480px) {
  .container-home {
    height: 325px;
    &__market {
      display: block;

      &__btn {
        text-align: center;
        margin-top: 0px;
      }

      h3 {
        margin: -130px 0 0 35px;
      }
      p {
        font-size: 20px;
      }
      div {
        padding-top: 45px;
      }
    }
    img {
      width: 140px;
      height: 140px;
    }
    &__list {
      flex-direction: column;
      margin: 49px 0 0 75px;
    }
  }
}
