<div class="container-login d-flex">
  <div class="container-login__option">
    <div class="row">
      <div class="container-login__option-items col-sm-8">
        <button type="button" class="btn bt-primary" (click)="goToRouter(0)" disabled>Tenho uma conta</button>
        <hr/>
        <button type="button" class="btn bt-secondary" (click)="goToRouter(1)">Acessar sem login</button>
      </div>
      <div class="container-login__option-logo col-sm-4">
      </div>
    </div>
  </div>
</div>
