hr {
    border: 2px solid #fb7f16;
}

table {
    width: 90%;
    background: #14294ef2;
    border-BOTTOM: 2px solid #fb7f16;
    color: #fff;

    .head-table {
        border-bottom: 1px solid #fb7f16;

        th {
            text-align: center;
        }
    }

    .body-table {
        border-bottom: 1px solid #fff;
        cursor: pointer;

        td {
            text-align: center;
        }
    }

    .fa-pen-to-square {
        color: #fb7f16;
    }
}

p {
    color: #757c95;
}