.header_container {
    justify-content: space-around;
    min-width: 400px;
        a {
            color: #c5c5c5;
            text-decoration: none;
            font-weight: bold;
            cursor: pointer;
        }
}

@media screen and (max-width: 480px) {
    .header_container {
        justify-content: space-evenly;
        min-width: 360px;
    }
}
