.header_container {
    align-items: center;
    justify-content: space-between;

        div:first-child {
            margin-top: 10px;
        }
        
        a {
            color: #28464B;
            text-decoration: none;
            font-weight: bold;
            margin-right: 10px;
            cursor: pointer;

            &:hover {
                font-size: 17px;
                color: #931621;
                transition: 0.2s;
            }
        }

        img {
            width: 65px;
        }

        p {
            margin-left: 15px;
            font-weight: bold;
            font-size: 20px;
            color: #931621
        }
}

.active {
    color: #931621 !important;  
    text-decoration: underline !important;
    font-size: 17px;  
}

@media screen and (max-width: 480px) {
    .header_container {
        flex-direction: column;
        text-align: center;
        min-width: 360px;
    }
}
