.header_container {
    align-items: center;
    justify-content: space-between;
        a {
            color: #dfdfdf;
            text-decoration: none;
            font-weight: bold;
            margin-right: 10px;
            cursor: pointer;

            &:hover {
                color: #ff6060;
                transition: 0.2s;
            }
        }

        img {
            width: 65px;
        }
}

.active {
    color: #ff6060 !important;    
}

@media screen and (max-width: 480px) {
    .header_container {
        flex-direction: column;
        text-align: center;
        min-width: 360px;
    }
}
