.card-container {
    justify-content: center;
    object-fit: cover;
    min-width: 300px;
    height: 250px;
    background: #2b316d;
    margin: 15px 60px 20px 5px;
    border: 20px solid #7c7c7c9f;
    box-shadow: 0 0 3px 2px #000;

}
