.container-list {
  h1, h4 {
    font-family: ChacFont;
    color: #931621;
    margin: 5px 0 0 35px;
  }

  h4 {
    margin: 5px 0 0 55px !important;
  }

  ul {
    margin: 10px 0 0 45px;

    li {
      list-style-type: none;
      font-weight: bold;
      color: #d7d7d7;
    }
  }

  &__items {
    justify-content: space-around;
  }
}


@media screen and (max-width: 480px) {
  .container-list__items {
    display: block !important;

    div {
      margin-bottom: 20px;
    }
  }
}