@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap/scss/bootstrap';
@import '~ngx-toastr/toastr';

body {
  background-image: linear-gradient(to right, #E9FFF9, #9ED8DB, #467599);
}

.card-form {
  background-color: #f9f9f9;
  border-left: 5px solid #D64045;
}

.btn {
  font-family: 'Segoe UI';
  font-weight: bold;
  padding: 8px 20px;
  color: #fff;
  min-width: 170px;
  border-radius: 20px;
  &:hover {
    color: #fff;
  }
}

.bt-primary {
  border: 1px solid #1D3354;
  background: #D64045;
  color: #fff;

  &:hover{
    box-shadow: 0 0 10px #3f518f;
    transition: 0.2s;
  }
}

hr {
  border: 2px solid #D64045;
}

.bt-secondary {
  color: #3b223f;
  border: 1px solid #3b223f;
}

.bt-form {
  width: 125px;
  border-radius: 20px;
  height: 35px;
  padding: 5px;
  text-transform: uppercase;
  margin: 5px 10px;
  background: #3d6076;

  &:hover {
    opacity: 0.8;
    transition: 0.4s;
  }
}

.success {
  background: #50cf50;
  &:hover {
    background: #38a338;
    transition: 0.2s;
  }
}

.cancel {
  background: #913c3c;
  opacity: 0.8;
  &:hover {
    opacity: 1.0;
    transition: 0.2s;
  }
}

.container {
  margin-top: 10px;
  padding: 10px 40px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  label {
    font-weight: bold;
    color: #3b223f;
    font-size: small;
  }

  input {
    border: 1px solid #cdcdcd;
    background: #f5f5f5;
    max-width: 340px;
    height: 35px;
    border-radius: 4px;
  }
  select {
    border: 1px solid #cdcdcd;
    background: #f5f5f5;
    max-width: 340px;
    height: 35px;
    border-radius: 4px;
  }
}

.form-validators {
  font-weight: bold;
  font-size: 12px;
  color: #772323;
}

.alert-form {
  font-size: 12px;
  color: #c3c3c3;
  text-shadow: 0px 0px 1px #fff303;
}

table {
  width: 90%;
  background: #fffffff2;
  border-bottom: 2px solid #3b223f;
  color: #5e5e5e;
  box-shadow: 2px 1px 5px #b9b9b9;

  .head-table {
      border-bottom: 1px solid #3b223f;

      th {
          text-align: center;
      }
  }

  .body-table {
      border-bottom: 1px solid #e3e3e3;
      cursor: pointer;

      td {
          text-align: center;
      }

      &:hover {
        background: #ebebeb;
        transition: 0.5s;
      }
  }

  .fa-pen-to-square {
      color: #ff6060;
  }
}

.load {
  background: #ff6060;
}

@media screen and (max-width: 480px) {
  .card-form {
      padding: 0;
      border-bottom: 5px solid #ff6060;
      border-left: none;
  }
}